<h3>Admin-Login</h3>
	<form action="/login" method="POST">
	    <p>Benutzer: <br><input type="text" name="name" value="<%= @email %>"/></p>
	    <p>Password: <br><input type="password" name="password" value=""/></p>
	    <p><input type="submit" value="Login"/></p>
	</form>
