<h1>Email-Whitelist als MD5-Hash</h1>
<form action="/wl_import" method="POST">
<textarea name="hashlist" cols="50" rows="20">
</textarea>
<br>
<input type="submit" value="Importieren"/>
</form>

